
<h1>Login Form</h1>
    <table>
        <fieldset style="width:400px">
        <tr>
            <th>Username</th>
            <td><input type="text" placeholder="enter username"name="username"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" placeholder="enter email"name="email"></td>
        </tr>
<tr>
    <th>Password</th>
    <td><input type="password" placeholder="enter password" name="password"></td>
</tr>
<tr>
    <th><input type="button" value="Login"></th>
</tr>
</fieldset>
    </table>


<p>{{login.username}}</p>
<p>{{login.email}}</p>
<p>{{login.password}}</p>
