h1{

    text-align: center;
   text-decoration: dotted;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
p{

    background-color: lightblue;
    text-decoration: wavy;
    
}